:root {
  --vermelho: #e50914;
  --preto: #141414;
  --link-color: #cdcdcd;
  --link-color-hover: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--preto);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--link-color-hover);
}
a {
  text-decoration: none;
}

header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  color: var(--vermelho);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
}

header nav a {
  color: var(--link-color);
  font-size: 1.1rem;
}

header nav a + a {
  margin-left: 2rem;
}

header nav a:last-child {
  margin-right: 1rem;
}

header nav a:hover {
  color: var(--link-color-hover);
  transition: 500ms;
}

/* FILME PRINCIPAL */
.filme-principal {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url('../imgs/capa-house.jpg');
  height: 25rem;
  background-size: cover;

  display: flex;
  align-items: center;
}

.filme-principal .container {
  width: 30vw;
  margin-left: 3rem;
}

.filme-principal .container h3 {
  font-size: 2.5rem;
  font-family: 'Ubuntu';
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.filme-principal h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.filme-principal p {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  margin-bottom: 2rem;
}

.botoes {
  display: flex;
}

.botao-assistir,
.botao-assistir:visited,
.botao-assistir:active {
  background: var(--link-color-hover);
  border: 1px solid var(--link-color-hover);
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.2rem;
  color: #232323;
  box-shadow: 1px 1px 1px var(--link-color);
  letter-spacing: 0.01rem;
  margin-right: 2rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  transition: 500ms ease-in-out;
}

.botao-assistir i,
.botao-informacoes i {
  margin-right: 0.8rem;
}

.botao-assistir:hover {
  opacity: 0.7;
}

.botao-informacoes {
  background-color: rgba(060, 60, 60, 0.4);
  border: none;
  padding: 0.7rem 1rem;
  color: var(--link-color-hover);
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 0.2rem;
  letter-spacing: 0.02rem;
  font-family: 'Ubuntu';
  transition: 500ms ease-in-out;
}

.botao-informacoes:hover {
  background-color: rgba(060, 60, 60, 0.1);
}

.carrosel-filmes {
  margin-top: 1rem;
}

.carrosel-filmes h3 {
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
}

.box-filme {
  height: 100%;
  width: 100%;
  display: block;
  opacity: 0.6;
  z-index: 3;
  cursor: pointer;
}

.box-filme:hover {
  position: relative;
  opacity: 1;
  top: -0.5rem;
  transform: 1000ms;
}

.adicionarFavoritos {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background: var(--vermelho);
  color: var(--link-color-hover);
  width: 2rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

/*
=============================
            MODALS
=============================
*/

.modal-overlay {
  background-color: rgba(24, 21, 21, 0.781);
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;

  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: rgba(24, 21, 21, 0.52);
  opacity: 1;
  border-radius: 0.2rem;

  max-width: 600px;
  height: 65vh;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal iframe {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-modal {
  color: #111111;
  position: absolute;
  top: -0.1rem;
  right: 0.4rem;
  cursor: pointer;
}

.close-modal i:hover {
  font-size: 1.1rem;
  transition: 200ms ease-in-out;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
  transition: 800ms;
}

.modal-content {
  width: 95%;
  height: 95%;
  background-color: aqua;
}

@media screen and (max-width: 700px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0.8rem auto;
  }

  header nav a {
    margin-left: 0;
    font-size: 0.8rem;
  }

  header nav a:last-child {
    margin-right: 0px;
  }

  .filme-principal .container {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }

  .botoes {
    display: flex;
    justify-content: center;
  }

  .item {
    width: 80vw;
    margin: 1rem auto;
  }

  .box-filme {
    height: 80%;
  }
}
